body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 0.75rem 1.5rem;
    background-color: #6c757d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #5a6268;
}

.form-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: 60px;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #007bff;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333333;
}

input[type="text"],
input[type="url"],
input[type="number"],
select {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #007bff;
    outline: none;
}

/* Add Hotel Button */
#addHotel {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addHotel:hover {
    background-color: #0056b3;
}

option {
    background-color: #007bff;
    color: white;
}

@media (max-width: 480px) {
    .back-button {
        top: 10px;
        left: 10px;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }

    .form-container {
        margin: 0.9rem;
        padding: 1.5rem;
        margin-top: 50px;
    }

    input[type="text"],
    input[type="url"],
    input[type="number"],
    select {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    #addHotel {
        padding: 0.5rem;
        font-size: 0.9rem;
    }
}
